<!-- your html code here -->
<div class="container py-5">
    <div class="row g-4">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <div class="ratio ratio-4x3">
                        <img src="https://pm1.aminoapps.com/8634/f56c846337fc5b2f272cca43443d0f68e5f44a8cr1-560-477v2_hq.jpg"
                            class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Tulepera con la papaya</h5>
                        <p class="card-text">el minion este está demasiado mamado de tanta papaya.</p>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="ratio ratio-4x3">
                        <img src="https://ih1.redbubble.net/image.3126908423.9763/pp,504x498-pad,600x600,f8f8f8.u1.jpg"
                            class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Diavlo</h5>
                        <p class="card-text">yo viendo Js por primera vez luego de aprender HTML.</p>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="ratio ratio-4x3">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJkcRfszZe-u49P-7iVMD6cG78LBc02A9Jrbe01MDrwR6GonVoNoq14dxUInNEj5n1NGs&usqp=CAU"
                            class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Se cayó.</h5>
                        <p class="card-text">Se cayó, familia se cayó el portón.</p>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>